<h1>Listing Stories</h1>

<%= link_to 'Add a new story', new_admin_story_path %>

<div id="stories">
  
  
  <% @stories.each do |story| %>
  <h2><%=h story.title %></h2>
  <div class="story">
    <p><%=h story.body %></p>
    <p>
      <%= link_to 'Show', admin_story_path(story) %> |
      <%= link_to 'Edit', edit_admin_story_path(story) %> |
      <%= link_to 'Destroy', admin_story_path(story), :confirm => 'Are you sure?', :method => :delete %>
    </p>
  </div>
  <% end %>

</div>

<%= link_to 'Add a new story', new_admin_story_path %>