<h1>View Story</h1>


<h2><%=h @story.title %></h2>
<div class="story">
  <p><%=h @story.language.title %></p>
  <p><%=h @story.body %></p>
  <p class="tags"><b>Tags</b>: <%= @story.tags.map{|t| t.name }.join(", ") %></p>  
  <p>
    <%= link_to 'Show', admin_story_path(@story) %> |
    <%= link_to 'Edit', edit_admin_story_path(@story) %> |
    <% if @story.approved? %>
      <%= link_to 'Deny', disapprove_admin_story_path(@story), :method => :put %> |
    <% else -%>
      <%= link_to 'Approve', approve_admin_story_path(@story), :method => :put %> |
    <% end -%>
    <%= link_to 'Delete', admin_story_path(@story), :confirm => 'Are you sure?  There is no undo', :method => :delete %>
  </p>
</div>


<%= link_to 'Edit', edit_admin_story_path(@story) %> |
<%= link_to 'Back', admin_stories_path %>