<h1>About Haitian Voices</h1>

<div id="stories">

  <div class="story">
    <p>
      HaitianVoices.org was created by <%= link_to 'Intridea', 'http://intridea.com' %> and <%= link_to 'other volunteers', 'http://wiki.crisiscommons.org/wiki/Haitian_Voices#Interested_Contributors' -%> as part of 
      the <%= link_to 'Crisis Commons', 'http://crisiscommons.org' %> relief efforts.
    </p>

    <p>
	  Site concept and long term maintenance: <%= link_to 'Altimax Solutions', 'http://www.altimaxsolutions.com/' -%> and <%= link_to 'Vyalex', 'http://www.vyalex.com/' -%>.
    </p>
    
    <p>
      This site is intended as a repository for the survivor stories of Haitians and their families.
    </p>
  </div>

</div>
