<div class='story'>
  <% if story.title %><h3><%= link_to story.title, story_path(story) %></h3><% end %>
  <% if @requestedLanguage %>
    <div class="languages">
      Read this story in
      <% @langs.each do |lang| %>
        <%= link_to lang.title, translatedStory_path(:language => lang.title) %>
      <% end %>
    </div>
  <% end %>
  <div class='body'>
    <% if !(story.pictures.blank?) %><div class='media'>
      <div class='picture'>
        <% story.pictures.each do |pic| %>
          <%= image_tag pic.photo.url(:thumb) %>
          <%= pic.caption %>
        <% end %>
      </div>
    </div><% end %>
    <p class='story'><%= display(story.body) %></p>
  </div>
</div>