<div class='story'>
<<<<<<< HEAD:app/views/stories/_story.html.erb
  <% if story.title %>
    <h3><%=h story.title %></h3>
=======
  <% if story.title %><h3><%= link_to story.title, story_path(story) %></h3>
    <p><%= display(story.body )%>
>>>>>>> 6e5ebfb6123f8e47003f6a7aec7f5e55f531e955:app/views/stories/_story.html.erb
  <% end %>
<<<<<<< HEAD:app/views/stories/_story.html.erb
  <p>
    <%= display(story.body) %>
    <% if !(story.pictures.blank?) %>
      <div>
        <% story.pictures.each do |pic| %>
          <%= image_tag pic.url(:thumb) %>
        <% end %>
      </div>
    <% end %>
  </p>
</div>
=======
</div>
>>>>>>> 6e5ebfb6123f8e47003f6a7aec7f5e55f531e955:app/views/stories/_story.html.erb
