<div class='story'>
  <% if story.title %>
    <h3><%= link_to story.title, story_path(story) %></h3>
  <% end %>
  <% if story.location %>
    <h4><%= t :vss_location %>: <%= story.location %></h4>
  <% end %>
  <% if @requestedLanguage %>
    <div class="languages">
      Read this story in
      <% @langs.each do |lang| %>
        <%= link_to lang.title, translatedStory_path(:language => lang.title) %>
      <% end %>
    </div>
  <% end %>
  <div class='body'>
    <% if !(story.pictures.blank?) %><div class='media'>
      <div class='picture'>
        <% story.pictures.each do |pic| %>
          <%= image_tag pic.photo.url(:thumb), :title => pic.caption %>
        <% end %>
      </div>
    </div><% end %>
    <p class='story'><%= display(story.body) %></p>
  </div>
  <% if story.tags.any? %>
    <ul class='tags'>
      Tagged: <% story.tags.each do |t| %>
      <li class='tag'><%= link_to t, tagged_stories_path(:tag => t.name) %></li>
      <% end %>
    </ul>
  <% end %>
</div>