<h2> 
  <%= params[:tag]? "Stories tagged with #{params[:tag]}" : 'Haitian Stories'%>
</h2>

<div id="search">
  <% form_tag({}, :method => :get) do %>
    <%= text_field_tag "q", params[:q] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div id="stories">  
  Sort: <%= story_filter %> by <%= story_date_sort %> 
  <%= render :partial => @stories %>
  <%= will_paginate(@stories) %>
</div>

<div class="tags">
  <h2>Tags</h2>
  
  <% Story.tag_counts.each do |tag| %>
    <%= link_to tag.name, tagged_stories_path(:tag => tag.name) %>
  <% end %>
</div>
