<h1>Haitian Voices</h1>


<h2> 
  <%= params[:tag]? "Stories tagged with #{params[:tag]}" : 'All Stories'%>
</h2>

<div id="search">
  <% form_tag({}, :method => :get) do %>
    <%= text_field_tag "q", params[:q] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div id="stories">  
  Sort: <%= story_filter %> by <%= story_date_sort %> 
  <%= will_paginate(@stories) %>
  <%= render :partial => @stories %>
  <%= will_paginate(@stories) %>
</div>

<h2>Tags</h2>

<%#TODO move to a partial? any plugins for tags? - GT -%>
<div id="tags">
  <% @tags.each do |tag| %>
    <%= link_to tag.name, tagged_stories_path(:tag => tag.name) %>
  <% end %>
</div>
