<h1>Listing translations</h1>

<div id="stories">
  
  <% @translations.each do |translation| %>
  <h2><%=h translation.title %></h2>
  <div class="story">
    <p><%=h translation.truncated_body %></p>
    <p>
      <%= link_to 'Show', admin_translation_path(translation) %> |
      <%= link_to 'Edit', edit_admin_translation_path(translation) %> |
      <% if translation.approved? %>
        <%= link_to 'Deny', disapprove_admin_translation_path(translation), :method => :put %> |
      <% else -%>
        <%= link_to 'Approve', approve_admin_translation_path(translation), :method => :put %> |
      <% end -%>
      <%= link_to 'Delete', admin_translation_path(translation), :confirm => 'Are you sure?  There is no undo', :method => :delete %>
    </p>
  </div>
  <% end %>

</div>