<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Home &bull; Haitian Voices</title>

<%= stylesheet_link_tag 'master', 'scaffold', 'styles' %>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    //
  });
</script>

</head>

<body>
<div id="wrapper">
  <div id="header">
    <h1 id='logo'><%= link_to image_tag('/images/logo.png', :alt => 'HaitianVoices') %></h1>
    <%= link_to image_tag('/images/donate_button.png', :alt => "Donate Now and aid the relief efforts."), '/donate', :class => 'donate_button' %>
    
    <div id='menu'>
      <% ubermenu do |m| %>
        <% m.action 'Home', '/' %>
        <% m.action 'About HaitianStories', '/about' %>
        <% m.action 'Stores', stories_path %>
        <% m.action 'Survivors', 'http://offsitelink.com' %>
        <% m.action 'Galleries', stories_path %>
      <% end %>
      <%= link_to 'Share My Story', new_story_path, :class => 'share_button' %>
    </div>
  </div>
  
  <div id="content">

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>
  </div>
  
  <div id="footer">
    <div class="credit"><%= link_to image_tag('intridea_50x50.png', :title => 'Built by Intridea'), 'http://intridea.com' %></div>
    <p>&copy; 2010 Haitian Voices &mdash; all rights reserved.</p>
    <p>
      <a href="/">Home</a> &bull; 
      <a href="/about">About</a> &bull; 
      <a href="/terms">Terms of Service</a> &bull; 
      <a href="/privacy">Privacy Policy</a> &bull; 
      <a href="/share">Share a Story</a>
      <% if current_user %>
        &bull; <%= link_to 'Admin', admin_stories_path %>
        &bull; <%= link_to 'Log Out', admin_user_session_path, :method => :delete %>
      <% end -%>
    </p>
  </div>
</div>
</body>
</html>
